.chat_list_header {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.chat_list_header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user_info span {
  max-width: 120px; /* или сколько тебе нужно */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat_search {
  position: relative;
  width: 100%;
}

.chat_search input {
  width: 80%;
  padding: 8px 12px 8px 32px; /* место для иконки слева */
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.chat_search input:focus {
  border-color: #4dc0d4;
}

.search_icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  color: #888;
  pointer-events: none; /* чтобы клики проходили сквозь */
}

.user_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar_placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
